.main-page {
    background: white;

    display: grid;
    grid-template-rows: 0.4fr 1fr 3fr 1fr 1fr;

    position: relative;
}
.hamburger-menu {
    /* background-color: red; */

    display: flex;
    align-items: center;

    position: relative;

}

.app-title {
    /* background-color: yellow; */

    display: flex;
    justify-content: center;

    position: relative;
}

.weather-image {
    /* background-color: cyan; */

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.15s;
}

.weather-image:hover {
    transform: var(--td-rotateY);
}

.weather-info {
    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todays-changes {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.side-menu {
    position: absolute;
    right: 0;
    height: 100%;
    width: 0%;
    background-color: rgba(1, 1, 1, 0.8);

    border: none;
    border-top-left-radius: 0px;

    transition: 0.3s;
    animation-duration: 0.3s;
}

.animated {
    animation-name: appear;
}
.animated-reverse {
    animation-name: appear;
    animation-direction: reverse;
}

@keyframes appear {
    0%   {
        background-color: rgba(1, 1, 1, 0);
        border-top-left-radius: 0px;
    }
    1% {
        border-top-left-radius: 500px;
    }
    50% {background-color: rgba(1, 1, 1, 0.8);}
    100% {border-top-left-radius: 0px;}
  }