* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(29, 29, 29);

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.main-page {
    width: 432px;
    height: 768px;
    /* background: linear-gradient(00deg, rgba(78,41,13,1) 0%, rgba(9,37,88,1) 100%); */
    background: white;

    display: grid;
    grid-template-rows: 0.4fr 1fr 3fr 1fr 1fr;

    position: relative;
}

.hamburger-menu {
    /* background-color: red; */

    display: flex;
    align-items: center;

    position: relative;

}

.app-title {
    /* background-color: yellow; */

    display: flex;
    justify-content: center;

    position: relative;
}

.weather-image {
    /* background-color: cyan; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-info {
    /* background-color: blue; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todays-changes {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}

.side-menu {
    position: absolute;
    right: 0;
    height: 100%;
    width: 0%;
    background-color: rgba(1, 1, 1, 0.8);

    transition: 0.3s;
    animation-duration: 0.3s;
}

.animated {
    animation-name: example;
}
.animated-reverse {
    animation-name: example;
    animation-direction: reverse;
}

@keyframes example {
    0%   {background-color: rgba(1, 1, 1, 0);}
    100% {background-color: rgba(1, 1, 1, 0.8);}
  }